.header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 5px;
}
h2 {
    margin: 10px;
}
h3 {
    margin: 20px;
}
.searchBox{
    margin: 3px;
}
.searchedCities {
    border-top: black 3px;

}
.card {
    background-color: dimgrey;
    margin: 15px;
    padding: 0;
    min-width: 160px;
    max-width: 250px;
}
.row {
    margin-left: 0;
}
.uvLow {
    background-color: green;
    display: inline-block;
}
.uvModerate {
    background-color: yellow;
    display: inline-block;
}
.uvHigh {
    background-color: orange;
    display: inline-block;
}
.uvVeryHigh {
    background-color: red;
    display: inline-block;
}
@media screen and (max-width: 575px) {
    .row {
        flex-direction: column;
    }
    body {
        text-align: center;
        justify-content: center;
    }
    .col-4 {
        width: 100%;
    }
    .col-8 {
        width: 100%;
    }
    #forecast {
        flex-direction: row;
    }


}