.header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 5px;
}
h2 {
    margin: 10px;
}
h3 {
    margin: 20px;
}
.searchBox{
    margin: 3px;
}
.searchedCities {
    border-top: black 3px;

}
.card {
    background-color: dimgrey;
    margin: 15px;
    padding: 0;
    min-width: 160px;
    max-width: 250px;
}